@import './base.css';

a,
.red {
    text-decoration: none;
    color: var(--color-main-accent);
    transition: 0.4s;
}

#app {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    margin: 0rem;
}

@media (max-width: 1024px) {
    #app {
        flex-direction: column;
        justify-content: start;
        align-items: center;

        margin-bottom: 30vh;
    }
}
